.pokeball {
  transform: translate(-50%, -50%);
}

.pokeball::after {
  position: absolute;
  top: 50%;
  left: -28rem;
  content: "";
  background-image: url("assets/img/icons/pokeball.png");
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(-50%, -50%) rotate(var(--deg));
  height: 40rem;
  aspect-ratio: 1;
}
