@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: VT323;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DFD4D4;
  cursor: default;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
}

main {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
