@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-accent: 135 135 135;
    --med: 2.8rem;
    --small: 1.8rem;
    --xsmall: 1.1rem;
  }
}

:root {
  --deg: 0deg;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1;
}

body {
  font-family: VT323;
  font-size: 1.6rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dfd4d4;
  cursor: default;
  overflow: hidden;
  box-sizing: border-box;
}

main {
  height: 100%;
  width: 100%;
}

/* vt323-regular - latin */
@font-face {
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/vt323-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("assets/fonts/vt323-v15-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/vt323-v15-latin-regular.woff2") format("woff2"),
    url("assets/fonts/vt323-v15-latin-regular.woff") format("woff"),
    url("assets/fonts/vt323-v15-latin-regular.ttf") format("truetype"),
    url("assets/fonts/vt323-v15-latin-regular.svg#VT323") format("svg");
  /* Legacy iOS */
}

.simplebar-wrapper {
  height: 100%;
}

.simplebar-offset {
  left: 2rem;
}

.simplebar-scrollbar::before {
  opacity: 100%;
  /* Prevents thumb fade out on inactivity */
}

.simplebar-track {
  overflow: visible;
  /* Keeps thumb color consistently black */
}

.simplebar-scrollbar {
  background: black;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 4.5rem;
  width: 0.85rem;
}

.simplebar-vertical {
  border: 0.4px solid rgb(var(--color-accent));
  border-radius: 4.5rem;
  height: 10rem;
  width: 0.9rem;
}

.simplebar-content-wrapper {

  scroll-snap-type: y mandatory;
}

.simplebar-track.simplebar-vertical {
  width: 1rem;
  /* Changes track width */
}
