.body {
  transform: translate(-50%, -50%);
  height: 31rem;
  padding: 1.5rem 0;
  border-radius: 7.1rem 1rem 1rem 11.7rem;
  overflow: hidden;
  background-color: rgba(43, 33, 33, 0.9);
}

@media (max-width: 814px) {
  .body {
    border-radius: 3.6rem 1rem 1rem 7rem;
  }
}

.icon {
  position: relative;
  top: 50%;
}

.icon,
.icon::before,
.icon::after {
  width: 3rem;
  height: 0.2rem;
  background-color: #fff;
  display: inline-block;
}

.icon::before,
.icon::after {
  content: "";
  position: absolute;
  left: 0;
}
.icon::before {
  top: -0.8rem;
}
.icon::after {
  top: 0.8rem;
}
